[Desktop Entry]
Encoding=UTF-8
Name=Link to [caffe笔记005]：通过代码理解faster-RCNN中的RPN - 深度学习知识库
Type=Link
URL=http://lib.csdn.net/article/deeplearning/61632
Icon=text-html
