[Desktop Entry]
Encoding=UTF-8
Name=Link to hjimce算法类博文目录 - CSDN博客
Type=Link
URL=https://blog.csdn.net/hjimce/article/details/50573444
Icon=text-html
