[Desktop Entry]
Encoding=UTF-8
Name=Link to Object Detection - handong1587
Type=Link
URL=https://handong1587.github.io/deep_learning/2015/10/09/object-detection.html
Icon=text-html
