[Desktop Entry]
Encoding=UTF-8
Name=Link to utuntu16.04安装tensorflow1.4-gpu - ranjiewen - 博客园
Type=Link
URL=https://www.cnblogs.com/ranjiewen/p/7787003.html
Icon=text-html
