[Desktop Entry]
Encoding=UTF-8
Name=Link to What is PyTorch? — PyTorch Tutorials 0.4.0 documentation
Type=Link
URL=http://pytorch.org/tutorials/beginner/blitz/tensor_tutorial.html#sphx-glr-beginner-blitz-tensor-tutorial-py
Icon=text-html
