[Desktop Entry]
Encoding=UTF-8
Name=Link to 每天一个linux命令(1)：ls命令 - peida - 博客园
Type=Link
URL=http://www.cnblogs.com/peida/archive/2012/10/23/2734829.html#undefined
Icon=text-html
